<%
    var baidu_tuijian_id = '';
    var relate_provider= '';
    if(typeof(site.data.config) != 'undefined' && site.data.config.baidu_tuijian_id){
        baidu_tuijian_id = site.data.config.baidu_tuijian_id;
        relate_provider = site.data.config.relate_provider;
    }else{
        baidu_tuijian_id = theme.baidu_tuijian_id;
        relate_provider = theme.relate_provider;
    }

    if (page.layout == 'post'){
        var tags = [];
        var cats = [];
        var tagstring = '';
        if(page.tags && page.tags.length){
            page.tags.forEach(function(tag){
                tags.push(tag.name);
            });
            tagstring = tags.join(',');
        }
        if(page.categories && page.categories.length){
            page.categories.forEach(function(category){
                cats.push(category.name);
            });
        }
    }
%>
<section id = "relate">
	<% if (relate_provider == 'baidu_tuijian'){ %>
                <div id="<%= baidu_tuijian_id %>"></div>
	<% } else if(relate_provider == 'wumii'){%>
                <script type="text/javascript" id="wumiiRelatedItems"></script>
                <script type="text/javascript">
                    var wumiiPermaLink = "<%= item.permalink %>"; //请用代码生成文章永久的链接
                    var wumiiTitle = "<%= item.title %>"; //请用代码生成文章标题
                    var wumiiTags = "<%= tagstring %>" ; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
                    var wumiiCategories = <%- JSON.stringify(cats) %>; //请用代码生成文章分类，分类名放在JSONArray中，如: ["分类1",     "分类2"]
                    var wumiiSitePrefix = "<%= theme.wumii_siteprefix %>";
                    var wumiiParams = "&num=6&mode=3&pf=JAVASCRIPT";
                </script>
	<% } %>
</section>

