<% if (site.categories.length){ %>
<div class="widget tag">
  <h3 class="title" id="categories"><%= __('categories') %></h3>
<!--   <% site.categories.sort('name').each(function(item){ %>
	<% if(item.parent) {%>
		<li><a class = "list-2"href="<%- config.root %><%- item.path %>"><%= item.name %></a><small><%= item.posts.length %></small></li>
     <% }else{%>
		<li><a href="<%- config.root %><%- item.path %>"><%= item.name %></a><small><%= item.posts.length %></small></li>
	<% } %>
  <% }); %> -->
     <%- list_categories(site.categories,{depth: 1}) %> 
</div>
<% } %> 
