<div class= "header-content inner">
	<div class = "alignleft col-one">
		<% if (theme.avatar) { %>
			<div class='avatar'>
				<img src = "<%= theme.avatar %>">
       </div>
		<% } %>
		<div class="header-div">
		    <p class='title'><a href="<%- config.root %>"><%= config.title %></a></p>
		    <p class='subtitle'><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></p>
		</div>
	</div>
	<div class = "alignright col-two">
		<% if (theme.ad){ %>
            <div class="ad">
			<img src = "<%= theme.ad %>">
            </div>
		<% } %>
	</div>
	<div class="clearfix"></div>
</div>

<div class= "header-nav">
	<div class='header-nav-content inner'>
		<div id="main-nav" class="alignleft">
		    		<% for (var i in theme.menu){ %>
		    		  <a href="<%- theme.menu[i] %>"><i class="fa fa-<%- theme.menu_icon[i] %>"></i><%- __(i) %></a>
		    		<% } %>
		</div>
		<div id="sub-nav" class="alignright">
		    <% for (var i in theme.submenu){ %>
		      <a href="<%- theme.submenu[i] %>"><i class="fa fa-<%- theme.menu_icon[i] %>"></i><%- __(i) %></a>
		    <% } %>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
