<div class= "header-content">
	<div class = "alignleft col-one">
		<% if (theme.avatar) { %>
			<img src = "<%= theme.avatar %>">
		<% } %>
		<div class="header-div">
		    <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
		    <h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
		</div>
	</div>
	<div class = "alignright col-two">
		<% if (theme.ad){ %>
			<img src = "<%= theme.ad %>">
		<% } %>
	</div>
	<div class="clearfix"></div>
</div>

<div class= "header-nav">
	<div id="main-nav" class="alignleft">
	    <% for (var i in theme.menu){ %>
	      <a href="<%- theme.menu[i] %>"><%= i %></a>
	    <% } %>
	</div>
	<div id="sub-nav" class="alignright">
	    <% for (var i in theme.submenu){ %>
	      <a href="<%- theme.submenu[i] %>"><%= i %></a>
	    <% } %>
	</div>
	<div class="clearfix"></div>
</div>
