<div class= "header-content inner">
	<div class = "alignleft col-one">
		<% if (theme.avatar) { %>
			<!-- <img src = "<%= theme.avatar %>"> -->
			<div class='avatar'></div>
		<% } %>
		<div class="header-div">
		    <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
		    <h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
		</div>
	</div>
	<div class = "alignright col-two">
		<% if (theme.ad){ %>
			<!-- <img src = "<%= theme.ad %>"> -->
		<% } %>
	</div>
	<div class="clearfix"></div>
</div>

<div class= "header-nav">
	<div class='header-nav-content inner'>
		<div id="main-nav" class="alignleft">
			<ul>
		    		<% for (var i in theme.menu){ %>
		    		  <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
		    		<% } %>
		    	</ul>
		</div>
		<div id="sub-nav" class="alignright">
     	 <ul>
		    <% for (var i in theme.submenu){ %>
		      <li><a href="<%- theme.submenu[i] %>"><%= i %></a></li>
		    <% } %>
     	 </ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
